<ul class="people-list">
    <%= for person <- @people do %>
    
        <li>
            <a href="#" phx-click="select-person" id={"person-id-#{person.id}"} phx-value-person-id={person.id}> 
                <%= User.whole_name(person)  %>
            </a>
        </li>

    <% end %>
</ul>